html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 170px;
 
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 170px;
}

.assombrir {
  filter: brightness(75%);
}

.chat-frame {
  position: absolute;
  bottom: 125px;
  right: 1px;
}

.navbar-header{
  background-color: rgba(19, 94, 112, 0.863) !important;
  color:white;
}